/* Modal: Alerta de mensagem */
	.modal-content {
		border: 3px dotted #26adb5;
		border-radius: 15px;
		width: auto;
		height: auto;
		padding: 20px 0;
	}
	.modal-footer {
		text-align: center;
		padding-bottom: 0;
	}
	.modal-body {
		padding: 0;
	}
	.btn-default {
		background-color: rgb(255,255,255);
		border: 2px solid;
		width: 30%;
	}
	.img_check {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/sucesso.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.img_alert {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/alert.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.img_erro {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/erro.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.modal-body-container{
		width: 100%;
		padding: 10% 10% 10% 30%;				
	}
	.modal-body-container div {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
	}
	.modal-body-container div p {
		word-break: normal;
	}
	.txt-box {
		font-family: "Source Sans Pro";
		font-weight: 600;
		font-size: 12pt;
		color: #26adb5;
	}
	.modal-footer {
		border-top: 0 !important;
	}
	@media (min-width: 768px) {
		.modal-dialog {
			width: 350px;
			margin-top: 25vh;
			background-color: #fff;
			border-radius: 15px;
		}
	}
	@media (max-width: 767px) {
		.modal-dialog {
			width: auto;
			margin-top: 25vh;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #fff;
			border-radius: 15px;
		}
	}
	.btn-default {
		background-color: #e6f2f4;
		color: #26adb5;
		border: 2px solid #26adb5;
		font-weight: 600;
	}
	.btn-default:hover, .btn-default:active, .btn-default:active:hover {
		background-color: #fff;
		color: #26adb5;
		border: 2px solid #26adb5;
		font-weight: 600;
	}