.box_area_admin {
    position: relative;
	background-color: #fff;
	border: 2px dashed #88A80D;
	height: 581px;
}
.topo_box_area_admin {
    position: absolute;
    top: -16px;
    left: 20px;
}
.area_btns_tabs {
	padding: 15px;
	border-bottom: 2px dashed #88A80D;
}
.area_btns_tabs::after{
	content: '';
	display: block;
	width: 100%;
	clear: both;
}
.lista_btns,
.tabs_cadastro {
	margin: 0;
	padding: 0;
	list-style: none;
}
.btns_tabs {
	float: right;
}
.btn_tab {
	position: relative;
    display: inline-block;
    padding: 7px 10px 7px 25px;
    height: 36px;
    border: 1px dotted #C4D11F;
    color: #C4D11F;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
}
.btn_tab:hover,
.btn_tab_ativo {
	background-color: #C4D11F;
	color: #fff;
}
.btn_tab:last-child{
	margin-right: 0;
}
.btn_add_cadastro::before {
	content: url(../img/bt_novoCadastro.png);
	position: absolute;
	left: -20px;
	top: -3px;
}
.btn_add_cadastro:hover::before,
.btn_tab_ativo[class*="btn_add_cadastro"]::before {
	content: url(../img/bt_novoCadastro_ativo.png);
	position: absolute;
	left: -21px;
	top: -4px;
}
.btn_update_cadastro::before {
	content: url(../img/bt_atualizarCadastro.png);
	position: absolute;
	left: -20px;
	top: -3px;
}
.btn_update_cadastro:hover::before,
.btn_tab_ativo[class*="btn_update_cadastro"]::before {
	content: url(../img/bt_atualizarCadastro_ativo.png);
	position: absolute;
	left: -21px;
	top: -4px;
}
.btn_confirm_cadastro::before {
	content: url(../img/bt_confirmarCadastro.png);
	position: absolute;
	left: -20px;
	top: -3px;
}
.btn_confirm_cadastro:hover::before,
.btn_tab_ativo[class*="btn_confirm_cadastro"]::before {
	content: url(../img/bt_confirmarCadastro_ativo.png);
	position: absolute;
	left: -21px;
	top: -4px;
}
.tab_cadastro {
    position: relative;
    padding: 15px;
    background-color: #E9EDA6;
    background-repeat: no-repeat;
	background-position: center;
    height: 167.5px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #728C07;
    margin-bottom: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.tab_cadastro:hover,
.tab_cadastro_ativo {
	background-color: #D4E075;
}
.tab_cadastro_ativo::after,
.tab_cadastro:hover::after {
    content: url(../img/triangulo.png);
    position: absolute;
    top: 40px;
    right: -20px;
}
.tab_cadastro_inativo,
.tab_cadastro_inativo:hover {
	background-color: #F2F2F2;
	cursor: not-allowed;
}
.tab_aluno {
	background-image: url(../img/bt_aluno.png);
}
.tab_professor {
	background-image: url(../img/bt_professor.png);
}
.tab_escola {
	background-image: url(../img/bt_escola.png);
}
.tab_cadastro_inativo[class*="tab_aluno"] {
	background-image: url(../img/bt_aluno_inativo.png);
}
.tab_cadastro_inativo[class*="tab_professor"] {
	background-image: url(../img/bt_professor_inativo.png);
}
.tab_cadastro_inativo[class*="tab_escola"] {
	background-image: url(../img/bt_escola_inativo.png);
}

.area_conteudo_tabs { 
	padding: 20px 0 20px 40px;
	height: 509px;
}
.conteudo_tab {
	height: 100%;
	overflow: hidden;
}
.section_header {
    font-size: 18px;
    font-weight: 500;
    color: #728C07;
    border-bottom: none;
    margin: 0 0 20px;
}

/* Novo cadastro */
.form_divisao_titulo {
    font-size: 18px;
    font-weight: 500;
    color: #728C07;
    border-bottom: none;
}
.form_divisao {
	display: block;
    padding-bottom: 15px;
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 15px;
}
.form_divisao:last-child {
	border-bottom: none;
    margin-bottom: 0;
}
div[class*="form_celula"] {
	display: inline-block;
	float: left;
	padding: 6px;
	background-color: #F2F2F2;
	border-radius: 5px;
	margin-bottom: 15px;
	height: 40px;
}
.form_info {
    float: left;
    display: block;
    margin: 5px 10px 0 5px;
    text-transform: uppercase;
    color: #88A80D;
    font-weight: 500;
    cursor: pointer;
}
.form_celula_g {
	width: 100%;
}
.form_celula_m {
	width: 47.5%;
	margin-right: 5%;
}
.form_celula_p {
	width: 30%;
	margin-right: 5%;
}
.value_last {
	margin-right: 0;
}
input.form_text,
input.form_number {
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	height: 30px;
	width: 100%;
	font-size: 14px;
	font-weight: 300;
	padding: 6px;
}
span.input_container,
span.select_container {
	overflow: hidden;
	display: block;
}
span.select_container select,
span.select_container select:focus,
span.select_container select:hover,
span.select_container select:active {
    background-color: #fff;
    background-image: url(../img/seta_combobox.png);
    background-repeat: no-repeat;
    background-position: 99% center;
    width: 100%;
    padding: 3.5px 6px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
   	appearance: none;
}
.form_btns_container {
	width: 180px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.form_btn, .generic_btn {
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	width: 80px;
	height: 34px;
	border: 1px solid #728C07;
	color: #728C07;
	border-radius: 3px;
	margin-right: 15px;
}
.form_btn:last-child, .generic_btn:last-child {
	margin-right: 0;
}
.btn_submit {
	background-color: #E9EDA6;
}
.btn_submit:hover,
.btn_submit:active,
.btn_submit:focus {
	background-color: #D1CF7D;
}
.btn_reset {
	background-color: #FFFFFF;
}
.btn_reset:hover,
.btn_reset:active,
.btn_reset:focus {
	background-color: #F2F2F2;
}
/* Fim novo cadastro */

/* Atualizar cadastro */
.accordion_info {
    background-color: #E6E6E6;
    padding: 12px 30px;
    border-radius: 4px;
    background-image: url(../img/ic_expand.png);
    background-repeat: no-repeat;
    background-position: center right 30px;
}
.accordion_expanded {
    background-color: #CCCCCC;
    background-image: url(../img/ic_collapse.png);
}
.accordion_cad_container {
    margin: 0 auto 5px;
}
a.accordion_info_toggler,
a.accordion_info_toggler:hover,
a.accordion_info_toggler:active,
a.accordion_info_toggler:visited {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #808080;
    text-decoration: none;
    margin-top: 5px;
}
.accordion_content {
    position: relative;
    width: 95%;
    margin: 0 auto;
    background-color: #F4F4F4;
    padding: 15px 25px;
    border: 1px solid #CCCCCC;
    border-top: none;
}
.content_col_info {
    width: 70%;
    float: left;
}
.content_col_info > table {
    width: 100%;
    table-layout: fixed;
}
.content_col_btns {
    position: absolute;
    right: 25px;
    bottom: 15px;
    text-align: right;
    display: inline-block;
    width: 30%;
}
.accordion_content::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
.content_info_row > td{
    height: 25px;
    padding: 0 3.5px;
    vertical-align: top;
}
.content_info_label {
    color: #808080;
    font-size: 14px;
}
.form_btns_container {
    text-align: right;
    padding-top: 20px;
}
.content_info_txt {
    color: #4D4D4D;
    font-size: 14px;
}
.section_btn {
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #728C07;
    border-radius: 4px;
}
.btn_del_cad,
.btn_reject_cad {
    background-color: #FFF;
    height: 25px;
    color: #728C07;
    padding: 2px 20px;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}
.btn_del_cad:hover,
.btn_del_cad:focus,
.btn_del_cad:active,
.btn_reject_cad:hover,
.btn_reject_cad:focus,
.btn_reject_cad:active {
    background-color: #F2F2F2;
}
.btn_update_cad,
.btn_confirm_cad {
    background-color: #E9EDA6;
    height: 33px;
    color: #728C07;
    padding: 3px 20px;
    font-size: 18px;
    letter-spacing: 0.4px;
}
.btn_update_cad:hover,
.btn_update_cad:focus,
.btn_update_cad:active,
.btn_confirm_cad:hover,
.btn_confirm_cad:focus,
.btn_confirm_cad:active {
    background-color: #D1CF7D;
}
/* Fim atualizar cadastro */

/* Modal Bootstrap */

.modal-dialog {
    width: 440px;
}

.modal-content {
    padding: 30px;
    border-color: #88A80D;
}
.modal-body {
    padding: 0;
    padding-left: 70px;
    margin-bottom: 30px;
}
.text-modal p {
    font-face: "Source Sans Pro";
    font-weight: 700;
    font-size: 20px;
    color: #88A80D;
}
.img_alert {
    left: 0;
}
.modal-footer {
    padding: 0;
}
.generic_btn {
    border-radius: 8px;
    background-color: #fff;
    color: #88A80D;
    border-width: 2px;
}
.generic_btn:hover {
    background-color: #F2F2F2;
}

/* Fim modal Bootstrap */

/*Barra de rolagem com plugin JS */
	.mCSB_inside > .mCSB_container {
	   margin-right: 0px !important;
	}
	.mCSB_buttonUp{
		background:url(../img/up.png) no-repeat !important;
		background-position: -3px !important;
	}

	.mCSB_buttonDown{
	    background:url(../img/down.png) no-repeat !important;
		background-position: -2px !important;
	}
	.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
	    opacity: 1 !important;
	}
	.mCSB_scrollTools .mCSB_dragger {
	    background-color: #88A80D !important;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
	    background-color: #88A80D !important
	}
	.mCSB_scrollTools .mCSB_draggerRail {
	    width: 100% !important;
	    height: 100% !important;
	    margin: 0 auto !important;
	    -webkit-border-radius: 0px !important;
	    -moz-border-radius: 0px !important;
	    border-radius: 0px !important;
	    background-color: #F2F2F2 !important;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	     background-color: #88A80D !important;
	}
	.mCSB_container {
		padding-right: 40px !important;
	}
/*Fim barra de rolagem*/