/*CAPITULO 1*/
#btn_exercicio_1{
    background:url(../img/1_fundo.png) no-repeat;
    height:100%;
}

#btn_exercicio_1_parabens{
    position: absolute;
    width: 100%;
    z-index:1;
    background:url(../img/1_fundo.png) no-repeat;
    height:100%;
}
#btn_exercicio_1_parabens_brilho{
    position: absolute;
    width: 100%;
    z-index:2;
    background:url(../img/1_parabens_comp.png) no-repeat;
    height:100%;
    display:none;
}
/*FIM CAPITULO 1*/

/*CAPITULO 2*/
#btn_exercicio_2{
    background:url(../img/2_fundo.png) no-repeat;
    height:100%;
}

#btn_exercicio_2_parabens{
    position: absolute;
    width: 100%;
    z-index:1;
    background:url(../img/2_fundo.png) no-repeat;
    height:100%;
}
#btn_exercicio_2_parabens_brilho{
    position: absolute;
    width: 100%;
    z-index:2;
    background:url(../img/2_parabens_comp.png) no-repeat;
    height:100%;
    display:none;
}
/*FIM CAPITULO 2*/

/*CAPITULO 3*/
#btn_exercicio_3{
    background:url(../img/3_fundo.png) no-repeat;
    height:100%;
}

#btn_exercicio_3_parabens{
    position: absolute;
    width: 100%;
    z-index:1;
    background:url(../img/3_fundo.png) no-repeat;
    height:100%;
}
#btn_exercicio_3_parabens_brilho{
    position: absolute;
    width: 100%;
    z-index:2;
    background:url(../img/3_parabens_comp.png) no-repeat;
    height:100%;
    display:none;
}
/*FIM CAPITULO 3*/

/*CAPITULO 4*/
#btn_exercicio_4{
    background:url(../img/4_fundo.png) no-repeat;
    height:100%;
}

#btn_exercicio_4_parabens{
    position: absolute;
    width: 100%;
    z-index:1;
    background:url(../img/4_fundo.png) no-repeat;
    height:100%;
}
#btn_exercicio_4_parabens_brilho{
    position: absolute;
    width: 100%;
    z-index:2;
    background:url(../img/4_parabens_comp.png) no-repeat;
    height:100%;
    display:none;
}
/*FIM CAPITULO 4*/

/*CAPITULO 5*/
#btn_exercicio_5{
	background:url(../img/5_fundo.png) no-repeat;
	height:100%;
}

#btn_exercicio_5_parabens{
	position: absolute;
	width: 100%;
	z-index:1;
	background:url(../img/5_fundo.png) no-repeat;
	height:100%;
}
#btn_exercicio_5_parabens_brilho{
	position: absolute;
	width: 100%;
	z-index:2;
	background:url(../img/5_parabens_comp.png) no-repeat;
	height:100%;
	display:none;
}
/*FIM CAPITULO 5*/

#caminho{
	position: absolute;
	width: 389px;
	z-index:3;
	height:590px;
}
.linha_top{
	margin-top: 133px;
	border:1px solid;
	height:150px;
	width: 378px;
}
.linha{
	margin-top: 140px;
	height: 345px;
	width: 378px;
}
.linha_atividade1,.linha_atividade2,.linha_atividade3,.linha_atividade4,.linha_atividade5{
	display:none;
}
.aparecer_mapa{
	display:block !important;
}
.obj_icone{
	position: absolute;
	z-index: 999;
    background: url(../img/bt_normal.png) no-repeat;
    width: 31px;
    height: 31px;
}
.obj_icone_ativo{
	position: absolute;
	z-index: 999;
    background: url(../img/bt_ativo.png) no-repeat !important;
    width: 31px;
    height: 31px;
}

/*Objetos com 14 atividades*/
.obj_icone14_1{
	bottom: 120px;
	left: 65px;
}
.obj_icone14_2{
    bottom: 170px;
    left: 65px;
}
.obj_icone14_3{
    bottom: 186px;
    left: 118px;
}
.obj_icone14_4{
    bottom: 186px;
    left: 180px;
}
.obj_icone14_5{
    bottom: 186px;
    left: 244px;
}
.obj_icone14_6{
    bottom: 221px;
    left: 299px;
}
.obj_icone14_7{
    bottom: 269px;
    left: 283px;
}
.obj_icone14_8{
    bottom: 269px;
    left: 226px;
}
.obj_icone14_9{
    bottom: 269px;
    left: 163px;
}
.obj_icone14_10{
    bottom: 269px;
    left: 98px;
}
.obj_icone14_11{
    bottom: 311px;
    left: 70px;
}
.obj_icone14_12{
	bottom: 351px;
	left: 100px;
}
.obj_icone14_13{
    bottom: 352px;
    left: 153px;
}
.obj_icone14_14{
    bottom: 407px;
    left: 179px;
}

/*Objetos com 15 atividades*/
.obj_icone15_1{   
	bottom: 120px;
	left: 65px;
}
.obj_icone15_2{
    bottom: 170px;
    left: 65px;
}
.obj_icone15_3{
    bottom: 186px;
    left: 118px;
}
.obj_icone15_4{
	bottom: 186px;
	left: 180px;
}
.obj_icone15_5{
    bottom: 186px;
    left: 239px;
}
.obj_icone15_6{
   bottom: 194px;
    left: 300px;
}
.obj_icone15_7{
    bottom: 247px;
    left: 301px;
}
.obj_icone15_8{
	bottom: 269px;
    left: 252px;
}
.obj_icone15_9{
    bottom: 269px;
    left: 194px;
}
.obj_icone15_10{
    bottom: 268px;
    left: 139px;
}
.obj_icone15_11{
    bottom: 270px;
    left: 84px;
}
.obj_icone15_12{
	bottom: 314px;
    left: 68px;
}
.obj_icone15_13{
	bottom: 351px;
	left: 100px;
}
.obj_icone15_14{
    bottom: 352px;
    left: 153px;
}
.obj_icone15_15{
    bottom: 407px;
    left: 179px;
}

/*Objetos com 16 Atividades*/

.obj_icone16_1{
    bottom: 120px;
    left: 65px;
}                                                                      
.obj_icone16_2{
    bottom: 177px;
    left: 65px;
}
.obj_icone16_3{
    bottom: 186px;
    left: 113px;
}
.obj_icone16_4{
    bottom: 186px;
    left: 170px;
}
.obj_icone16_5{
    bottom: 186px;
    left: 227px;
}
.obj_icone16_6{
    bottom: 186px;
    left: 284px;
}
.obj_icone16_7{
    bottom: 226px;
    left: 301px;
}
.obj_icone16_8{
    bottom: 269px;
    left: 287px;
}
.obj_icone16_9{
    bottom: 269px;
    left: 230px;
}
.obj_icone16_10{
    bottom: 269px;
    left: 173px;
}
.obj_icone16_11{
    bottom: 269px;
    left: 116px;
}
.obj_icone16_12{
    bottom: 280px;
    left: 69px;
}
.obj_icone16_13{
    bottom: 337px;
    left: 69px;
}
.obj_icone16_14{
    bottom: 352px;
    left: 111px;
}
.obj_icone16_15{
    bottom: 352px;
    left: 168px;
}
.obj_icone16_16{
    bottom: 407px;
    left: 179px;
}

/*Objetos com 17 Atividades*/

.obj_icone17_1{
    bottom: 120px;
    left: 65px;
}                                                                      
.obj_icone17_2{
    bottom: 174px;
    left: 65px;
}
.obj_icone17_3{
    bottom: 186px;
    left: 107px;
}
.obj_icone17_4{
    bottom: 186px;
    left: 161px;
}
.obj_icone17_5{
    bottom: 186px;
    left: 215px;
}
.obj_icone17_6{
    bottom: 186px;
    left: 269px;
}
.obj_icone17_7{
    bottom: 208px;
    left: 301px;
}
.obj_icone17_8{
    bottom: 262px;
    left: 301px;
}
.obj_icone17_9{
    bottom: 269px;
    left: 254px;
}
.obj_icone17_10{
    bottom: 269px;
    left: 200px;
}
.obj_icone17_11{
    bottom: 269px;
    left: 146px;
}
.obj_icone17_12{
    bottom: 269px;
    left: 92px;
}
.obj_icone17_13{
    bottom: 306px;
    left: 69px;
}
.obj_icone17_14{
    bottom: 352px;
    left: 79px;
}
.obj_icone17_15{
    bottom: 352px;
    left: 134px;
}
.obj_icone17_16{
    bottom: 355px;
    left: 179px;
}
.obj_icone17_17{
    bottom: 407px;
    left: 179px;
}

/*Objetos com 20 atividades*/
.obj_icone20_1{   
    bottom: 115px;
    left: 65px;
}
.obj_icone20_2{
	bottom: 155px;
    left: 65px;
}
.obj_icone20_3{
    bottom: 186px;
   	left: 91px;
}
.obj_icone20_4{
	bottom: 186px;
    left: 134px;
}
.obj_icone20_5{
    bottom: 186px;
    left: 178px;
}
.obj_icone20_6{
    bottom: 186px;
    left: 223px;
}
.obj_icone20_7{
    bottom: 188px;
    left: 268px;
}
.obj_icone20_8{
    bottom: 209px;
    left: 301px;
}
.obj_icone20_9 {
    bottom: 246px;
    left: 301px;
}
.obj_icone20_10 {
	bottom: 270px;
    left: 271px;
}
.obj_icone20_11{
	bottom: 269px;
    left: 227px;
}
.obj_icone20_12{
    bottom: 269px;
    left: 180px;
}
.obj_icone20_13{
    bottom: 268px;
    left: 134px;
}

.obj_icone20_14{
	bottom: 269px;
    left: 90px;
}
.obj_icone20_15{
    bottom: 303px;
    left: 70px;
}
.obj_icone20_16{
	bottom: 342px;
	left: 71px;
}
.obj_icone20_17{
 	bottom: 354px;
    left: 107px;
}
.obj_icone20_18{
    bottom: 354px;
    left: 148px;
}
.obj_icone20_19{
	bottom: 370px;
	left: 179px;   
}
.obj_icone20_20{
    bottom: 411px;
    left: 179px;
}

/*Objetos com 21 atividades*/
.obj_icone21_1{   
    bottom: 120px;
    left: 65px;
}
.obj_icone21_2{
    bottom: 163px;
    left: 65px;
}
.obj_icone21_3{
    bottom: 186px;
    left: 85px;
}
.obj_icone21_4{
    bottom: 186px;
    left: 128px;
}
.obj_icone21_5{
    bottom: 186px;
    left: 172px;
}
.obj_icone21_6{
    bottom: 186px;
    left: 215px;
}
.obj_icone21_7{
    bottom: 186px;
    left: 258px;
}
.obj_icone21_8{
    bottom: 187px;
    left: 301px;
}
.obj_icone21_9 {
    bottom: 227px;
    left: 301px;
}
.obj_icone21_10 {
    bottom: 261px;
    left: 301px;
}
.obj_icone21_11{
    bottom: 269px;
    left: 262px;
}
.obj_icone21_12{
    bottom: 269px;
    left: 225px;
}
.obj_icone21_13{
    bottom: 269px;
    left: 186px;
}
.obj_icone21_14{
    bottom: 269px;
    left: 143px;
}
.obj_icone21_15{
    bottom: 269px;
    left: 100px;
}
.obj_icone21_16{
    bottom: 287px;
    left: 68px;
}
.obj_icone21_17{
    bottom: 326px;
    left: 68px;
}
.obj_icone21_18{
    bottom: 352px;
    left: 95px;
}
.obj_icone21_19{
    bottom: 352px;
    left: 137px;   
}
.obj_icone21_20{
    bottom: 352px;
    left: 177px;
}
.obj_icone21_21{
    bottom: 407px;
    left: 179px;
}

/*Objetos com 24 atividades*/
.obj_icone24_1{   
    bottom: 120px;
    left: 65px;
}
.obj_icone24_2{
    bottom: 158px;
    left: 65px;
}
.obj_icone24_3{
    bottom: 186px;
    left: 75px;
}
.obj_icone24_4{
    bottom: 186px;
    left: 113px;
}
.obj_icone24_5{
    bottom: 186px;
    left: 150px;
}
.obj_icone24_6{
    bottom: 186px;
    left: 188px;
}
.obj_icone24_7{
    bottom: 186px;
    left: 226px;
}
.obj_icone24_8{
    bottom: 186px;
    left: 264px;
}
.obj_icone24_9{
    bottom: 186px;
    left: 301px;
}
.obj_icone24_10 {
    bottom: 224px;
    left: 301px;
}
.obj_icone24_11 {
    bottom: 261px;
    left: 301px;
}
.obj_icone24_12{
    bottom: 269px;
    left: 271px;
}
.obj_icone24_13{
    bottom: 269px;
    left: 233px;
}
.obj_icone24_14{
    bottom: 269px;
    left: 195px;
}
.obj_icone24_15{
    bottom: 269px;
    left: 158px;
}
.obj_icone24_16{
    bottom: 269px;
    left: 120px;
}
.obj_icone24_17{
    bottom: 269px;
    left: 82px;
}
.obj_icone24_18{
    bottom: 292px;
    left: 68px;
}
.obj_icone24_19{
    bottom: 330px;
    left: 68px;
}
.obj_icone24_20{
    bottom: 352px;
    left: 84px;   
}
.obj_icone24_21{
    bottom: 352px;
    left: 122px;
}
.obj_icone24_22{
    bottom: 352px;
    left: 159px;
}
.obj_icone24_23{
    bottom: 369px;
    left: 179px;
}
.obj_icone24_24{
    bottom: 407px;
    left: 179px;
}