#Conteudo_Area_box_Grande {
	width:92.1%;
	height: 588px;
	float:left;
	margin:24px 0 0 49px;
}
#box_topico{
	background:#fff;
	height:100px;	
	padding:18px 31px 18px 27px;
	margin-bottom:11px;
	border:dotted 2px #E35F0F;
}
#box_Respostas{
    max-height: 470px;
}
.dados_aluno{
	padding-left: 14px;
}
.aluno_nome{
	font-size: 14px;	
}
.aluno_data{
	margin-left:15px;
	font-size: 12px;
}
.resp_aluno{
	padding-left: 14px;
	font-size: 14px;
}

.box_topico_resp{
	background:#FDF0E7;
	min-height:100px;	
	padding:18px 31px 18px 27px;
	margin-bottom:11px;
	/*border:1px solid #FFFFFF;*/
}

.margin_right{
    margin-right: 25px;
}
#campo_resp{
	display:none;
	background:#fff;
	height:100px;	
	padding:18px 5px 18px 27px;
	margin-bottom:11px;
	border:dotted 2px #E35F0F;
    border: 0;
    resize: none;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
    -moz-box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
    box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
}
#resp_forum{
	width: 88%;
    border: 0;
    padding: 0;
    font-size: 14px;
    resize: none;
    height: 57px;
}
#btn_pronto{
	margin-top: 34px;
}
#postagens_recentes{
	background:#fff;
	height:581px;
	border:dotted 2px #E35F0F;
}
#postagens_img {
   /* background: url(../img/postagens_recentes.png) no-repeat;
    width: 341px;*/
    height: 29px;
    margin: -14px 19px 0 19px;
}
#txt_pesquisa{
	margin: 18px 26px 0px 19px;
    float: right;
    padding: 4px 0 4px 32px;
    width: 85%;
    height: 36px;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
	-moz-box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
	box-shadow: 0px 0px 4px 2px rgba(102,102,102,0.34);
	background: url(../img/lupinha.png) no-repeat;
	background-position: 8px 10px;
    background-size: 19px 19px;
}
#txt_pesquisa input {
    border:0;
	line-height: 30px;
    height: 30px;
}
.ln_box{
	min-height: 82px;
	padding:18px;
}
.ln_box:nth-child(odd){
    background-color: #FDF0E7;
}
.ln_box:nth-child(even){
    background-color: #FFFFFF;
}
#box_result_pesquisa{
	margin-top: 82px;
	width: auto;
	overflow: auto;
	height: 481px
}
.conteudoRespostas{
	overflow: auto;
}
.ln_pergunta{
	font-size:14px;
	font-weight:bold;
	float:left;
	margin-bottom:10px;
}
.ln_info{
	font-size:12px;
	float:right;
	width:100%;
}
.paipeR{
	color:#ED9255;
	margin-right:3px;	
}
.paipeL{
	color:#ED9255;
	margin-left:1px;
}

@media (max-width:768px){
	#Conteudo_Area_box_right {
		margin: 24px 12px;
		height: 581px;
		width: 94%;
	}
}

/*Barra de rolagem com plugin JS */
.mCSB_inside > .mCSB_container {
   margin-right: 0px !important;
}
.mCSB_buttonUp{
	background:url(../img/arrow_up.png) no-repeat !important;
	background-position: 4px !important;
    background-color: #FCE9DB !important;
}

.mCSB_buttonDown{
    background:url(../img/arrow_down.png) no-repeat !important;
	background-position: 4px !important;
    background-color: #FCE9DB !important;
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
    opacity: 1 !important;
}
.mCSB_scrollTools .mCSB_dragger {
    background-color: #F0A36D !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #FCE9DB !important
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important; 
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #FCE9DB !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
     background-color: #F0A36D !important; 
}
/*Fim barra de rolagem*/