#topo_galeria{
    background: url(../img/galeria.png) no-repeat;
    width: 139px;
    height: 29px;
    margin: -18px 0 0 17px;
}

#box_left_resultados_container {
    overflow: auto;
    height: 400px;
}

/* Mais Vistos */
    #topo_mais_vistos{
        background: url(../img/mais_vistos_laranja.png) no-repeat;
        width: 206px;
        height: 29px;
        margin: -13px 0 0 17px;
    }
    #container_mv_box {
        margin: 5px 20px 0;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        #box_mais_vistos{
            width: 100%;
            height: auto;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }

    @media (min-width: 1200px) {
        #box_mais_vistos{
            width: 100%;
            height: 62%;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
        .mv_caixa{
            /*margin-top: 15px;*/
            width: 100%;
            height: auto;
            margin-right:2px;
            width: 100%;
            margin-bottom: 10px;
        } 
        .mv_caixa_icon {
            float: left;
            display: inline-block;
            width: 100px;
            height: 100px;
        }
        .mv_video{
            background:#F7F8E5;
            width: 100px;
            height: 100%;
        }
        .icon_video{
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .mv_foto{
            background:#FFF4E3;
            width: 100px;
            height: 100%;
        }
        .icon_foto{
            background:url(../img/photo.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .mv_jogo{
            background:#E9F4F5;
            width: 100px;
            height: 100%;
        }
        .icon_jogo{
            background:url(../img/game.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .icon_texto{
            border: 1px solid white;
            width: 88px;
            height: 31px;
            background: #FDFDF7;
            text-align: center;
            margin-left: 5px;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .txt_mv_caixa {
            display: inline-block;
            width: 65%;
            height: 100%;
            padding-top: 0;
            margin top: 0;
            margin-left: 5px;
        }
        .txt_mv_caixa_titulo {
            font-family: "Source Sans Pro";
            font-size: 13pt;
            font-weight: 400;
            margin-bottom: 3px;
        }

        .txt_mv_caixa_sub {
            font-family: "Source Sans Pro";
            font-size: 11pt;
            font-weight: 300;
            margin-bottom: -2px; 
        }
        .txt_mv_caixa_data {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
        }
        .clear {
            clear: both;
        }
    }
    @media (min-width: 390px) and (max-width: 1199px) {
        .mv_caixa{
            height: auto;
            margin-right:2px;
            width: 100%;
            margin-bottom: 10px;
        } 
        .mv_caixa_icon {
            float: left;
            display: inline-block;
            width: 100px;
            height: 100px;
        }
        .mv_video{
            background:#F7F8E5;
            width: 100px;
            height: 100%;
        }
        .icon_video{
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .mv_foto{
            background:#FFF4E3;
            width: 100px;
            height: 100%;
        }
        .icon_foto{
            background:url(../img/photo.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .mv_jogo{
            background:#E9F4F5;
            width: 100px;
            height: 100%;
        }
        .icon_jogo{
            background:url(../img/game.png) no-repeat;
            height: 58px;
            background-position: 26px;
        }
        .icon_texto{
            border: 1px solid white;
            width: 88px;
            height: 31px;
            background: #FDFDF7;
            text-align: center;
            margin-left: 5px;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .txt_mv_caixa {
            display: inline-block;
            width: 65%;
            height: 100%;
            padding-top: 0;
            margin top: 0;
            margin-left: 5px;
        }
        .txt_mv_caixa_titulo {
            font-family: "Source Sans Pro";
            font-size: 13pt;
            font-weight: 400;
            margin-bottom: 3px;
        }

        .txt_mv_caixa_sub {
            font-family: "Source Sans Pro";
            font-size: 11pt;
            font-weight: 300;
            margin-bottom: -2px; 
        }
        .txt_mv_caixa_data {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
        }
        .clear {
            clear: both;
        }
    }
    @media (max-width: 389px) {
        #box_mais_vistos{
            width: 100%;
            height: auto;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
        .mv_caixa{
            /*margin-top: 15px;*/
            width: 100%;
            height: auto;
            margin-right:2px;
            width: 100%;
            margin-bottom: 10px;
        } 
        .mv_caixa_icon {
            float: left;
            display: block;
            width: 100%;
            height: auto;
        }
        .mv_video{
            background:#F7F8E5;
            height: 100%;
        }
        .icon_video{
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .mv_foto{
            background:#FFF4E3;
            height: 100%;
        }
        .icon_foto{
            background:url(../img/photo.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .mv_jogo{
            background:#E9F4F5;
            height: 100%;
        }
        .icon_jogo{
            background:url(../img/game.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .icon_texto{
            border: 1px solid white;
            width: 50%;
            height: 30%;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .txt_mv_caixa {
            display: block;
            width: 100%;
            height: auto;
            padding-top: 92px;
            padding-bottom: 9px;
            margin-top: 0;
            margin-left: 5px;
        }
        .txt_mv_caixa_titulo {
            font-family: "Source Sans Pro";
            font-size: 13pt;
            font-weight: 400;
            margin-bottom: 3px;
        }

        .txt_mv_caixa_sub {
            font-family: "Source Sans Pro";
            font-size: 11pt;
            font-weight: 300;
            margin-bottom: -2px; 
        }
        .txt_mv_caixa_data {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
        }
        .clear {
            clear: both;
        }
    }
    @media (min-width: 390px) and (max-width: 767px) {
        #box_mais_vistos{
            margin-top: 100px;
            width: 100%;
            height: 68%;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        #box_mais_vistos{
            margin-top: 100px;
            width: 100%;
            height: 35%;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
        .mv {
            display: inline-block;
            width: 33%;
            margin-left: 0;
            margin-right: 0;
        }
        .mv_caixa{
            display: inline-block;
            height: auto;
            width: 100%;
            margin-bottom: 10px;
        } 
        .mv_caixa_icon {
            display: block;
            width: 100%;
            height: 100px;
        }
        .mv_video{
            background:#F7F8E5;
            width: 100%;
            height: 100%;
        }
        .icon_video{
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .mv_foto{
            background:#FFF4E3;
            width: 100%;
            height: 100%;
        }
        .icon_foto{
            background:url(../img/photo.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .mv_jogo{
            background:#E9F4F5;
            width: 100%;
            height: 100%;
        }
        .icon_jogo{
            background:url(../img/game.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .icon_texto{
            border: 1px solid white;
            width: 88px;
            height: 31px;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .txt_mv_caixa {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 0;
            margin top: 0;
            margin-left: 5px;
        }
        .txt_mv_caixa_titulo {
            font-family: "Source Sans Pro";
            font-size: 13pt;
            font-weight: 400;
            margin-bottom: 3px;
        }

        .txt_mv_caixa_sub {
            font-family: "Source Sans Pro";
            font-size: 11pt;
            font-weight: 300;
            margin-bottom: -2px; 
        }
        .txt_mv_caixa_data {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
        }
        .clear {
            clear: both;
        }
    }
    @media (min-width: 991px) and (max-width: 1199px) {
        #box_mais_vistos{
            margin-top: 35px;
            width: 100%;
            height: 35%;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
        .mv {
            display: inline-block;
            width: 33%;
            margin-left: 0;
            margin-right: 0;
        }
        .mv_caixa{
            display: inline-block;
            height: auto;
            width: 100%;
            margin-bottom: 10px;
        } 
        .mv_caixa_icon {
            display: block;
            width: 100%;
            height: 100px;
        }
        .mv_video{
            background:#F7F8E5;
            width: 100%;
            height: 100%;
        }
        .icon_video{
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .mv_foto{
            background:#FFF4E3;
            width: 100%;
            height: 100%;
        }
        .icon_foto{
            background:url(../img/photo.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .mv_jogo{
            background:#E9F4F5;
            width: 100%;
            height: 100%;
        }
        .icon_jogo{
            background:url(../img/game.png) no-repeat;
            height: 58px;
            background-position: 50% 10px;
        }
        .icon_texto{
            border: 1px solid white;
            width: 88px;
            height: 31px;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .txt_mv_caixa {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 0;
            margin top: 0;
            margin-left: 5px;
        }
        .txt_mv_caixa_titulo {
            font-family: "Source Sans Pro";
            font-size: 13pt;
            font-weight: 400;
            margin-bottom: 3px;
        }

        .txt_mv_caixa_sub {
            font-family: "Source Sans Pro";
            font-size: 11pt;
            font-weight: 300;
            margin-bottom: -2px; 
        }
        .txt_mv_caixa_data {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
        }
        .clear {
            clear: both;
        }
    }

/* Box galeria */
    @media (min-width: 992px) {
        #box_galeria{
            width: 100%;
            height: 581px;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }
    @media (max-width: 991px) {
        #box_galeria{
            width: 100%;
            height: 655px;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }

/* Pesquisa */
    @media (min-width: 992px) {
        #box_gal_pesquisa {
            height: 90px;
            margin-bottom: 5px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        #box_cat,#box_ass{
            width: 100%;
            height: 83px;
        }
        #assuno_text {
            width: 100%;
            height: 28px;
            border: 1px solid #FED488;
            padding-left: 5px;
        }
        .box_right_1_box_select #select_text{
            background: url(../img/bt_drop.png) no-repeat;
            background-color: white;
            background-size: auto 100%;
            background-position: right center;
            width: 90%;
            height: 30px;
            color: #000000;
            text-indent: 0.01px;
            cursor: pointer;
            border: 1px solid #FED488;
            font-family: Source Sans Pro;
            font-size : 12px; 
            padding-left: 10px;
            padding-right: 42px;
        }
        .box_right_1_box_select #select_text:hover{
            border: 1px solid #FED488;
        }
    }
    @media (max-width: 991px) {
        #box_gal_pesquisa {
            height: 171px;
            margin-bottom: 5px;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        #assuno_text{
            width: 100%;
            height: 28px;
            border: 1px solid #FED488;
        }
        .box_right_1_box_select #select_text{
            background: url(../img/bt_drop.png) no-repeat;
            background-color: white;
            background-size: auto 100%;
            background-position: right center;
            width: 100%;
            height: 30px;
            color: #000000;
            text-indent: 0.01px;
            cursor: pointer;
            border: 1px solid #FED488;
            font-family: Source Sans Pro;
            font-size : 12px; 
            padding-left: 10px;
            padding-right: 42px;
        }
        .box_right_1_box_select #select_text:hover{
            border: 1px solid #FED488;
        }
    }
    #box_select{
        z-index: 10;
        position: absolute;
        border: 1px solid #FED488;
        border-top: 0;
        width: 85.1%;
        max-height: 120px;
        overflow: auto;
        display: none;
    }
    #box_select span{
        display: block;
        font-family : Source Sans Pro;
        font-size : 12px;
        color : #4D4D4D;
        color : rgb(77, 77, 77);
        height: 30px;
        background: #FEF8EF;
        border-bottom: 1px solid #FFFFFF;
        padding: 6px 0px 0px 10px;
        cursor: pointer;
    }
    #box_select span:hover{
        background: #FED488;
    }
    .box_right_box{
        margin: 37px 25px;
    }
    #box_right_1_box_titulo_1{
        font-size: 12pt;
        font-weight: 400;
        margin: 23px 0 16px;
    }
    #box_right_1_box_titulo_2{
        font-size: 12pt;
        font-weight: 400;
        margin: 23px 0 16px;
    }
    #box_left_box_titulo_results{
        font-size: 87.5%;
        margin: 23px 0 16px;
    }
    .box_left_gal_results {
        width: 95%;
        margin-left: auto;
        margin-right: auto; 
    }
/* Resultados */
    @media (min-width: 1200px) {
        #box_left_box_titulo_results{
            font-size: 12pt;
            font-weight: 400;
            margin: 30px 0 16px;
        }
        .gal_caixa1, .gal_caixa2 {
            width: 100%;
            height: 100px;
            background-color: rgb(255,252,246);
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto; 
        }
        .gal_video {
            /*background: #F7F8E5;*/
            display: inline-block;
            float: left;
            background-color: rgb(247,248,231);
            width: 80px;
            height: 80px;
            margin-left: 10px;
        }
        .gal_video_icon {
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .gal_video_texto {
            width: 80%;
            height: 15px;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .gal_caixa_texto {
            display: inline-block;
            float: left;
            width: 83.5%;
            height: 80px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .gal_caixa_texto_titulo {
            font-family: "Source Sans Pro";
            font-size: 14pt;
            font-weight: 400;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 1px;
        }
        .gal_caixa_texto_sub {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
            margin-bottom: 5px;
        }
        .gal_caixa_texto_corpo {
            font-family: "Source Sans Pro";
            line-height: 1;
            font-size: 11pt;
            font-weight: 300;
        }
        .gal_caixa2 {
            background-color: white !important;
        }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        #box_left_box_titulo_results{
            font-size: 12pt;
            font-weight: 400;
            margin: 30px 0 16px;
        }
        .gal_caixa1, .gal_caixa2 {
            width: 100%;
            height: 100px;
            background-color: rgb(255,252,246);
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto; 
        }
        .gal_video {
            /*background: #F7F8E5;*/
            display: inline-block;
            float: left;
            background-color: rgb(247,248,231);
            width: 80px;
            height: 80px;
            margin-left: 10px;
        }
        .gal_video_icon {
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .gal_video_texto {
            width: 80%;
            height: 15px;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .gal_caixa_texto {
            display: inline-block;
            float: left;
            width: 83%;
            height: 80px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .gal_caixa_texto_titulo {
            font-family: "Source Sans Pro";
            font-size: 14pt;
            font-weight: 400;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 1px;
        }
        .gal_caixa_texto_sub {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
            margin-bottom: 5px;
        }
        .gal_caixa_texto_corpo {
            font-family: "Source Sans Pro";
            line-height: 1;
            font-size: 11pt;
            font-weight: 300;
        }
        .gal_caixa2 {
            background-color: white !important;
        }
    }
    @media (max-width: 767px) {
        #box_left_box_titulo_results{
            font-size: 12pt;
            font-weight: 400;
            margin: 30px 0 16px;
        }
        .gal_caixa1, .gal_caixa2 {
            width: 100%;
            height: auto;
            background-color: rgb(255,252,246);
            padding-top: 10px;
            margin-left: auto;
            margin-right: auto; 
        }
        .gal_video {display: none;}
        .gal_video_icon {
            display: none;
            background:url(../img/video.png) no-repeat;
            height: 58px;
            background-position: 50%;
        }
        .gal_video_texto {
            width: 90%;
            height: 15px;
            background: #FDFDF7;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 80%;
            line-height: 1.2;
            color: #4D4D4D;
            padding: 2px;
        }
        .gal_caixa_texto {
            display: inline-block;
            height: auto;
            margin-left: 10px;
            margin-right: 30px;
            margin-bottom: 10px;
        }
        .gal_caixa_texto_titulo {
            font-family: "Source Sans Pro";
            font-size: 14pt;
            font-weight: 400;
            font-weight: 300;
            line-height: 1;
            margin-bottom: 1px;
        }
        .gal_caixa_texto_sub {
            font-family: "Source Sans Pro";
            font-size: 10pt;
            font-weight: 300;
            margin-bottom: 5px;
        }
        .gal_caixa_texto_corpo {
            font-family: "Source Sans Pro";
            line-height: 1;
            font-size: 11pt;
            font-weight: 300;
        }
        .gal_caixa2 {
            background-color: white !important;
        }
    }

/* Box Carregar */
    @media (min-width: 1200px) {
        #box_carregar{  
            width: 100%;
            height: 36%;
            margin-top: 12px;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        #box_carregar{  
            width: 100%;
            height: 60%;
            margin-top: 12px;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }
    @media (max-width: 767px) {
        #box_carregar{  
            width: 100%;
            height: 200px;
            margin-top: 12px;
            border: 2px dotted #FAB522;
            background: #FFFFFF;
        }
    }
    #carregarContainer {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .botaoCarregar {
        background: url(../img/bt_carregar_arquivos.png) no-repeat;
        background-position: center;
        width: 140px;
        height: 100%;
        margin: auto;
        cursor: pointer;
    }

@media (min-width: 768px) and (max-width: 1199px) {
    #Conteudo_Area_box_right {
        width: 95%;
        margin: 24px auto 0 auto;
        height: 581px;
    }
    #Conteudo_Area_box_left {
        margin: 24px auto 0 auto;
        float: none;
        width: 95%;
        height: 581px;
    }
}

@media (max-width: 767px) {
    #Conteudo_Area_box_right {
        width: 95%;
        margin: 113px auto 0 auto;
        height: auto;
    }
    #box_galeria {
        height: 670px;
    }
    #Conteudo_Area_box_left {
        margin: 24px auto 0 auto;
        float: none;
        width: 95%;
        height: 581px;
    }
}

/* Rodapé */ 
    @media (max-width: 767px) {
        #rodape {
            margin-top: 20px;
        }
    }
	
/*Barra de rolagem com plugin JS */
.mCSB_inside > .mCSB_container {
   margin-right: 0px !important;
}
.mCSB_buttonUp{
	background:url(../img/arrow_up_laranja.png) no-repeat !important;
	background-position: 5px !important;
    background-color: #FCE9DB !important;
}

.mCSB_buttonDown{
    background:url(../img/arrow_down_laranja.png) no-repeat !important;
	background-position: 4px !important;
    background-color: #FCE9DB !important;
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
    opacity: 1 !important;
}
.mCSB_scrollTools .mCSB_dragger {
    background-color: #FED488 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #FED488 !important
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important; 
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #FCE9DB !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
     background-color: #FED488 !important; 
}
/*Fim barra de rolagem*/