#box_galeria{
    width: 100%;
    height: 581px;
    border: 2px dotted #FAB522;
    background: #FFFFFF;
}
#topo_galeria{
    background: url(../img/galeria.png) no-repeat;
    width: 139px;
    height: 29px;
    margin: -18px 0 0 17px;
}
#box_mais_vistos{
    width: 100%;
    height: 68.9%;
    border: 2px dotted #FAB522;
    background: #FFFFFF;
}
#topo_mais_vistos{
    background: url(../img/mais_vistos_laranja.png) no-repeat;
    width: 206px;
    height: 29px;
    margin: -13px 0 0 17px;
}
#box_carregar{
    width: 100%;
    height: 29%;
    margin-top: 12px;
    border: 2px dotted #FAB522;
    background: #FFFFFF;
}
#box_cat,#box_ass{
    width: 48.5%;
    float: left;
    height: 83px;
}
#box_ass{
    margin-left: 19px;
}
#assuno_text{
    width: 96%;
    height: 28px;
    border: 1px solid #FED488;
    padding-left: 5px;
}
.box_right_1_box_select #select_text{
    background: url(../img/combo_m.png) no-repeat;
    background-size: 366px 32px;
    margin-left: 17px;
    width: 100%;
    height: 30px;
    color: #000000;
    text-indent: 0.01px;
    cursor: pointer;
    border: 0;
    font-family:Source Sans Pro;
    font-size : 12px; 
    padding-left: 10px;
}
.box_right_1_box_select #select_text:hover{
    border: none;
}
#box_select{
    border: 1px solid #FED488;
    border-top: 0;
    width: 85.1%;
    max-height: 120px;
    overflow: auto;
    display: none;
    margin-left: 17px;
}
#box_select span{
    display: block;
    font-family : Source Sans Pro;
    font-size : 12px;
    color : #4D4D4D;
    color : rgb(77, 77, 77);
    height: 21px;
    background: #FEF8EF;
    border-bottom: 1px solid #FFFFFF;
    padding: 6px 0px 0px 10px;
    cursor: pointer;
}
#box_select span:hover{
    background: #FED488;
}
.box_right_box{
    margin: 37px 25px;
}
#box_right_1_box_titulo_1{
    font-size: 87.5%;
    margin: 23px 0 16px 17px;
}
#box_right_1_box_titulo_2{
    font-size: 87.5%;
    margin: 23px 0 16px 0px;
}
/*Barra de rolagem personalizada*/
#box_select::-webkit-scrollbar {
    background: #FCE9DB;
} 
#box_select::-webkit-scrollbar-thumb {
    background: #FED488;height:18px;
} 
#box_select::-webkit-scrollbar-button:vertical:decrement {
    background: url(../img/arrow_up.png) no-repeat;background-position:5px
} 
#box_select::-webkit-scrollbar-button:vertical:increment {
    background: url(../img/arrow_down.png) no-repeat;background-position:5px
} 
#box_select::-webkit-scrollbar-track {
    background:#FCE9DB;
} 
#box_select::-webkit-scrollbar-track-piece {
    background:#FCE9DB;
} 
#box_select::-webkit-scrollbar-corner {
    background:#FCE9DB;
} 