@charset "utf-8";
/* CSS Document */

*, *:after, *:before {
	box-sizing: border-box;
}

.tabs-container {
	position: relative;
	height: 360px;
	max-width: 98%;
	margin: 0 auto;
}
.tabs-container p{
	margin: 0;
	padding: 0;
}
.tabs-container:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: none;
}
input.tabs {
	display: none;
}
input.tabs + label {
	padding: 10px 17.5px;
	float: left;
	background: #FFF;
	color: #4D4D4D;
	cursor: pointer;
	height: 44px;
	margin-right: 7px;
	border: 1px solid #C5D221;
	font-size: 12px;
	font-family: Overlock;
}
input.tabs:checked + label {
	color: #4D4D4D;
	background: #FFF;
}
input.tabs + label + div {
	width: 89%;
	opacity: 0;
	position: absolute;
	background: #FFFFFF;
	top: 67px;
	left: 0;
	height: 539px;
	padding: 10px;
	z-index: -1;
	border: 2px dotted #C5D221;
}
input.tabs:checked + label + div {
	opacity: 1;
	z-index: 1000;
}
.tema{
	margin-left:5%;
	cursor:pointer;
}
.tema:hover{
	text-decoration:underline;
	margin-left:5%;
	cursor:pointer;
}
#objeto{
	display:none;
}
#btn_exercicio{
	background:url(../img/5_fundo.png) no-repeat;
	height:100%;
}
#btn_exercicio_5_parabens{
	position: absolute;
	width: 100%;
	z-index:1;
	background:url(../img/5_parabens.png) no-repeat;
	height:100%;
}
#btn_exercicio_5_parabens_brilho{
	position: absolute;
	width: 100%;
	z-index:2;
	background:url(../img/5_parabens_comp.png) no-repeat;
	height:100%;
}
#caminho{
	position: absolute;
	width: 389px;
	z-index:3;
	height:590px;
}
.linha_top{
	margin-top: 133px;
	border:1px solid;
	height:150px;
	width: 378px;
}
.linha{
	border:1px solid;
	height:150px;
	width: 378px;
}