#box_msg_geral{
    width: 100%;
    height: 100%;
    border: 2px dotted #24ADB5;
    background: #FFFFFF;
}
#box_msg_left{
    height: 100%;
    border-right: 2px dotted #24ADB5;
}
#box_msg_right_top{
    margin: 0;
    padding: 0;
    width: 68.9%;
    border-bottom: 2px dotted #24ADB5;
    float: left;
}

#box_msg_listas{
	height: 472px;
    overflow: auto;
}
#box_msg_right_botton {
    width: 100%;
    float: left;
    display: none;
    height: 249px;
    margin-top: 6px;
}
.btn_msg{
    width: 100%;
    height: 32.5%;
    background-color: #DEF3F4;
}
.btn_msg span{
    width: 242px;
    float: left;
    height: 100%;
    line-height: 193px;
    font-family: Overlock;
    font-weight: bold;
    font-size: 14px;
    color: #1C7B7F;
    margin-left: 116px;
}
#btn_recebidos{
    background:url(../img/icone_recebidos.png) no-repeat;
    background-position: 53px 61px;
	height:191px;
	background-color:#DEF3F4;
}
#btn_enviados{
    margin: 6px 0;
    background:url(../img/icone_enviados.png) no-repeat;
    background-position: 53px 61px;
	height:191px;
	background-color:#DEF3F4;
}
#btn_excluidos{
    background:url(../img/icone_excluidos.png) no-repeat;
    background-position: 53px 61px;
	height:191px;
	background-color:#DEF3F4;
}
#btn_recebidos:hover{
    background:url(../img/icone_recebidos.png) no-repeat;
    background-position: 53px 61px;
	background-color:#BDE7E9;
}
#btn_enviados:hover{
    margin: 6px 0;
    background:url(../img/icone_enviados.png) no-repeat;
    background-position: 53px 61px;
	background-color:#BDE7E9;
}
#btn_excluidos:hover{
    background:url(../img/icone_excluidos.png) no-repeat;
    background-position: 53px 61px;
	background-color:#BDE7E9;
}
.btn_msg_ativo{
	background-color:#BDE7E9 !important;
}
#box_NRE{
    height: 68px;
    width: 51%;
    float: right;
    padding-top: 30px;
}
#box_NRE a{
    float: left;
    text-decoration:none; 
	cursor:pointer;
}
.margin_ambas{	
	margin: 0 22.8px;
}
#btn_msg_novo{
    background:url(../img/bt_novo_normal.png) no-repeat;
    width: 89px;
    height: 32px;
}
#btn_msg_novo:hover{
    background:url(../img/bt_novo_ativo.png) no-repeat;
    width: 89px;
    height: 32px;
}
#btn_msg_responder{
    background:url(../img/bt_responder_normal.png) no-repeat;
    width: 126px;
    height: 32px;
}
#btn_msg_responder:hover{
    background:url(../img/bt_responder_ativo.png) no-repeat; 
    width: 126px;
    height: 32px;
}
#btn_msg_excluir{
    background:url(../img/bt_excluir_normal.png) no-repeat;
    width: 88px;
    height: 29px;
}
#btn_msg_excluir:hover{
    background:url(../img/bt_excluir_ativo.png) no-repeat;
    width: 88px;
    height: 29px;
}
#tbl_msg{
	margin-top: 3px;
	width: 100%;
	font-family: overlock;
	text-align: left;
	height: 257px;
}
#linha_titulos{
    margin-bottom: 15px;
}
#titulo_rem{
    color: #1C7B7F;
    font-size: 16px;
    padding: 2px 82px 2px 55px;
}
#titulo_ass{
    color:#1C7B7F;
    font-size: 16px;
    padding: 2px 412px 2px 0;
}
#titulo_data{
    color:#1C7B7F;
    font-size: 16px;
}
.col1:nth-child(odd){
    background-color: #F4FBFB;
    height: 32px;
}
.col1:nth-child(even){
    background-color: #FFFFFF;
    height: 32px;
}
.check-box{
	padding: 0px 6px 0 7px;
	background: url(../img/checkbox.png) no-repeat;
	cursor: pointer;
}
.checked{
	padding: 0px 6px 0 10px;
	background: url(../img/checkbox_clicked.png) no-repeat;
	cursor: pointer;
}
.msg_check{
	padding: 8px 0 0 32px;
    width: 7.333333%;
}
.msg_nome{
    float: left;
    font-size: 14px;
    padding: 6px 0;
    border-right: 1px solid#FFF; 
}
.msg_assunto{
    float: left;
    font-size: 14px;
    padding: 6px 0px 6px 8px;
	border-right: 1px solid#FFF; 
}
.msg_data{
   /* width: 132px;*/
    float: left;
    font-size: 14px;
    padding: 6px 0px 0px 7px;
}
.msg_nao_lida p{
    font-weight: bold;
}
#ass_msg_resp{
	width: 100%;
    min-height: 139px;
    padding: 10px 21px;
	border: 0;
	resize:0;
}
#ass_linha{
    background: #E5F5F6;
    padding: 11px 0px 11px 27px;
	 border-top: 2px dotted #24ADB5;
}
#ass_msg{
    font-size: 16px;
    padding-right: 5px;
}
#ass_msg_data{
    font-size: 12px;
    color: #666666;
}
#ass_linha_rem{
    background: #F4FBFB;
    margin-top: 2px;
    padding: 4px 0;
}
#ass_linha_para{
    background: #F4FBFB; 
    margin-top: 2px;
    padding: 4px 0;
}
#msg_rem{
    width: 24px;
    text-align: right;
    padding: 3px 6px 3px 23px;
    background: #E9F7F8;
    border-right: 2px solid #FFFFFF;
}
#msg_para{
    width: 24px;
    text-align: right;
    padding: 3px 5px 3px  72px;
    background: #E9F7F8;
    border-right: 2px solid #FFFFFF;
}
#ass_msg_rem_nome{
    padding-left: 10px;
    font-size: 12px;
    color: #666666;
}
#ass_msg_para_nome{
    padding-left: 10px;
    font-size: 12px;
    color: #666666;
}
#mn_mobile{
	display:none;
}
#box_abre_msg{
	padding:19px;
}
@media (max-width:768px){
	#Conteudo_Area_box_Grande {
		width: 96.1%;
		height: 588px;
		float: left;
		margin: 15px 0 0 8px;
	}
	.btn_msg span {		
		width: 242px;
		float: left;
		height: 100%;
		line-height: 62px;
		font-family: Overlock;
		font-weight: bold;
		font-size: 14px;
		color: #1C7B7F;
		margin-left: 25%;
	}
	#mn_mobile{
		display:block;
	}
	#mn_geral{
		display:none;
	}
	#btn_recebidos{
		background: #DEF3F4 url(../img/icone_recebidos.png) no-repeat;
		background-position: 17px 10px;
		height: 60px;
		background-size: 36px;
	}
	#btn_enviados{
		display:block;
		background:#DEF3F4 url(../img/icone_enviados.png) no-repeat;
		background-position: 17px 15px;
		height: 60px;
		background-size: 36px;
	}
	#btn_excluidos{
		background:#DEF3F4 url(../img/icone_excluidos.png) no-repeat;
		background-position: 20px 11px;
		height: 60px;
		background-size: 31px;
	}
	#btn_recebidos:hover{
		background:#BDE7E9 url(../img/icone_recebidos.png) no-repeat;
		background-position: 17px 10px;
		height: 60px;
		background-size: 36px;
	}
	#btn_enviados:hover{
		background:#BDE7E9 url(../img/icone_enviados.png) no-repeat;
		background-position: 17px 15px;
		height: 60px;
		background-size: 36px;
	}
	#btn_excluidos:hover{
		background:#BDE7E9 url(../img/icone_excluidos.png) no-repeat;
		background-position: 20px 11px;
		height: 60px;
		background-size: 31px;
	}
	#box_NRE{
		height: 45px;
		width: 100%;
		padding:0;
	}
	#ln_RAD{
		/*display:none;*/	
	}
	#box_msg_left {
		width: 100%;
		height: 33.2%;
		border: 1px dotted #24ADB5;
		background: #FFFFFF;
	}
	#box_msg_geral {
		width: 100%;
		height: 33.2%;
		border: none;
		background: none;
	}
	#box_NRE a {
		float: left;
		text-decoration: none;
		cursor: pointer;
		float: right;
	}
	.margin_ambas {
		margin:0 6%;
	}
	#desk-msg{
		display:none;
	}
	#titulo_rem {
		max-width: 127px;
		color: #1C7B7F;
		font-size: 14px;
		padding: 5px 2px;
		/*border:1px solid;*/
	}
	#titulo_ass {
		color: #1C7B7F;
		font-size: 14px;
		padding: 5px 0 5px 0;
	}	
	#titulo_data {
		color: #1C7B7F;
		font-size: 14px;
		padding: 5px 0 0 0px;
	}
	.msg_nome_mobile {
		font-size: 12px;
		padding: 5px 2px;
	}
	.msg_assunto_mobile {
		font-size: 12px;
		padding:5px 0 0;
	}
	.msg_data_mobile {
		font-size: 12px;
		padding:5px 0 0;
	}
	#tbl_msg {
		margin-top: 3px;
		width: 100%;
		font-family: overlock;
		text-align: left;
		border-spacing: 0px; 
	}
	#linha_titulos {
		margin-bottom: 0px;
	}
	.col1-mobile:nth-child(odd) {
		background-color: rgb(242, 242, 238);
		min-height: 26px;
	}
	.col1-mobile:nth-child(even) {
		background-color: #FFFFFF;
		min-height: 26px;
	}
	#box-enviados,#box-excluidos{
		margin: 6.4px 0;
	}
	.msg_detalhe{
		display:none;	
		padding:10px;
		background-color: rgb(226, 225, 215);
		margin-bottom:2px;
	}
	.panel-group {
		margin-bottom: 0px;
	}
	.panel-group .panel+.panel {
		 margin-top: 0px; 
	}
	.panel-body {
		 padding: 0px; 
	}
	.panel{
		border:0;
	}
}
#conteudo_mensagem {
	display: block;
	width: auto;
	height: auto;
}

/* Nova mensagem */
	#nova_mensagem {
		display: none;
		width: auto;
		height: auto;
		padding: 10px;
		border: 2px dotted rgb(35,173,181);
		background-color: #FFF;
	}
	#nova_mensagem_topo {
		height: 47px;
		margin-bottom: 10px;
	}
	.nova_mensagem_btns {
		display: inline-block;
		height: 100%;
		width: 110px;
		cursor: pointer;
	}
	#nova_msg_enviar {
		background-image: url(../img/btnEnviar.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 100%
	}
	#nova_msg_enviar:hover {
		background-image: url(../img/btnEnviar_ativo.png);
	}
	#nova_msg_anexar {
		margin-left: 20px;
		background-image: url(../img/btnAnexar.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 100%
	}
	#nova_msg_anexar:hover {
		background-image: url(../img/btnAnexar_ativo.png);
	}
	.campo_nova_mensagem {
		background-color: rgb(211,238,240);
		margin-bottom: 5px;
		padding: 10px;
	}
	.nome_campo {
		color: rgb(36,172,191);
		text-align: right;
		margin: 3px 0;
		padding-right: 10px;
	}
	.mensagem_campo {
		width: 100%;
		border: 0px solid;
		height: 26px;
	}
	@media (min-width: 992px) {
		#mensagem_campo_conteudo {
			height: 365px;
		}
		#mensagem_conteudo {
			margin-top: 20px;
			margin-bottom: 0;
		}
		.nome_campo {
			font-family: "Overlock-Regular";
			font-size: 12pt;
			letter-spacing: 0.8px;
			color: rgb(36,172,191);
			text-align: right;
			margin: 3px 0;
			padding-right: 10px;
		}
	}
	@media (max-width: 991px) {
		#mensagem_campo_conteudo {
			height: 315px;
		}
		#mensagem_conteudo {
			margin-top: 20px;
			margin-bottom: 0;
		}
		.nome_campo {
			font-family: "Overlock-Regular";
			font-size: 12pt;
			letter-spacing: 0.8px;
			color: rgb(36,172,191);
			text-align: center;
			margin: 3px 0;
			padding-right: 10px;
		}
	}

/* Modal */
	.modal-content {
		border: 3px dotted #26adb5;
		border-radius: 15px;
		width: auto;
		height: auto;
		padding: 20px 0;
	}
	.modal-footer {
		text-align: center;
		padding-bottom: 0;
	}
	.modal-body {
		padding: 0;
	}
	.btn-default {
		background-color: rgb(255,255,255);
		border: 2px solid;
		width: 30%;
	}
	.img_check {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/sucesso.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.img_alert {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/alert.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.img_erro {
		position: absolute;
		left: 10%;
		width: 50px;
		height: 100%;
		background-image: url("../img/erro.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-right: 10px;
	}
	.modal-body-container{
		width: 100%;
		padding: 10% 10% 10% 30%;				
	}
	.modal-body-container div {
		display: inline-block;
		margin: 0 auto;
		width: 100%;
	}
	.modal-body-container div p {
		word-break: normal;
	}
	.txt-box {
		font-family: "Source Sans Pro";
		font-weight: 600;
		font-size: 12pt;
		color: #26adb5;
	}
	.modal-footer {
		border-top: 0 !important;
	}
	@media (min-width: 768px) {
		.modal-dialog {
			width: 350px;
			margin-top: 25vh;
			background-color: #fff;
			border-radius: 15px;
		}
	}
	@media (max-width: 767px) {
		.modal-dialog {
			width: auto;
			margin-top: 25vh;
			margin-left: 10px;
			margin-right: 10px;
			background-color: #fff;
			border-radius: 15px;
		}
	}
	.btn-default {
		background-color: #e6f2f4;
		color: #26adb5;
		border: 2px solid #26adb5;
		font-weight: 600;
	}
	.btn-default:hover, .btn-default:active, .btn-default:active:hover {
		background-color: #fff;
		color: #26adb5;
		border: 2px solid #26adb5;
		font-weight: 600;
	}

/*Barra de rolagem com plugin JS */
.mCSB_inside > .mCSB_container {
   margin-right: 0px !important;
}
.mCSB_buttonUp{
	background:url(../img/arrow_up_azul.png) no-repeat !important;
	background-position: 4px !important;
    background-color: #DEF3F4 !important;
}

.mCSB_buttonDown{
    background:url(../img/arrow_down_azul.png) no-repeat !important;
	background-position: 4px !important;
    background-color: #DEF3F4 !important;
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
    opacity: 1 !important;
}
.mCSB_scrollTools .mCSB_dragger {
    background-color: #24ADB5 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #DEF3F4 !important
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important; 
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #DEF3F4 !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
     background-color: #24ADB5 !important; 
}
/*Fim barra de rolagem*/