* {
    overflow: hidden;
    box-sizing:border-box;
}
html
{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  overflow: hidden
 }

html body{
	width:100%;
	height:auto;
	  margin: 0;
  	padding: 0;
  	background-color:#f7f7f5;
	/* margin:0 auto; */
	-moz-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
}

#container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    margin-top: 0;
    background-image: url('img/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}


#bt_Fs{	
	width: 61.668px;
	height: 61.666px;
	right: 117.668px;
	top: 28px;
	left: auto;
	bottom: auto;
	background-image: url('img/bt_aumenta.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

#bt_ajuda{	
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: 28px;
	right: 28px;
	bottom: auto;
	background-image: url('img/bt_ajuda.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

#bt_confirmar{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: auto;
	right: -100px;
	bottom: 28px;
	background-image: url('img/bt_confirma.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: right 1s ease-in-out;
	-webkit-transition: right 1s ease-in-out;
	z-index: 10;
	cursor: pointer;
}

#telaAjuda {
	background-image: url('img/telaAjuda.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 302.309px;
	top: -250px;
	width: 438.605px;
	height: 196.034px;
	transition: top 1s ease-in-out;
	-webkit-transition: top 1s ease-in-out;
	z-index: 8;
}

#fecharAjuda{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: 375px;
	z-index: 20;
	cursor: pointer;
}

#box {
	width: 1024px;
	height: 768px;
	position: absolute;
	background-image: url('img/balao-01.png');
	z-index: 1;
}