@charset "utf-8";
/* CSS Document */

/*Barra de rolagem personalizada*/
#box_msg_listas::-webkit-scrollbar {
    background: #DEF3F4;
} 
#box_msg_listas::-webkit-scrollbar-thumb {
    background: #24ADB5;
	height:18px;
} 
#box_msg_listas::-webkit-scrollbar-button:vertical:decrement {
    background: url(../img/arrow_up_azul.png) no-repeat;background-position:5px
} 
#box_msg_listas::-webkit-scrollbar-button:vertical:increment {
    background: url(../img/arrow_down_azul.png) no-repeat;background-position:5px
} 
#box_msg_listas::-webkit-scrollbar-track {
    background:#DEF3F4;
} 
#box_msg_listas::-webkit-scrollbar-track-piece {
    background:#DEF3F4;
} 
#box_msg_listas::-webkit-scrollbar-corner {
    background:#DEF3F4;
}



/*fim barra de rolagem*/