* {
    box-sizing:border-box;
}

html, body
{
	padding:0;
	margin:0;
	transform-origin:top left;
	overflow: hidden;
	background-color: white;
}

#container
{
	width:1024px;
	height:768px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
}

#CanvasDraw
{
	position: absolute;
	top:0;
	left:0;
	pointer-events: none;
}

#GradePNG
{
	position: absolute;
	top:0;
	left:0;
	width:1024px;
	height:768px;
	background-image: url('img/pincel_grande.png'),
						url('img/pincel_medio.png'),
						url('img/pincel_pqno.png'),
						url('img/amarelo.png'),
						url('img/azul.png'),
						url('img/marrom.png'),
						url('img/verdeClaro.png'),
						url('img/verdeEscuro.png'),
						url('img/vermelho.png'),
						url('img/menu.png'),
						url('img/para_colorir_reciclagem_alpha.png');
	background-size:cover;
	pointer-events: none;
}

.Cores
{
    display: block;
    height: 21px;
    left: 967px;
    pointer-events: auto;
    position: absolute;
    width: 46px;
    z-index: 10;
}

.Amarelo{ top: 373px;}
.VerdeClaro{ top: 396px;}
.VerdeEscuro{ top: 419px;}
.Azul{ top: 442px;}
.Vermelho{ top: 464px;}
.Marrom{ top: 487px;}

.PQ{width:22px;height:22px;border-radius: 50%;background-color: rgba(0,0,0,0);top:335px;left:978px;}
.MD{width:32px;height:32px;border-radius: 50%;background-color: rgba(0,0,0,0);top:290px;left:973px;}
.GR{width:45px;height:45px;border-radius: 50%;background-color: rgba(0,0,0,0);top:233px;left:967px;}



#bt_Fs{	
	width: 61.668px;
	height: 61.666px;
	right: 117.668px;
	top: 28px;
	left: auto;
	bottom: auto;
	background-image: url('img/bt_aumentar2.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

#bt_ajuda{	
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: 28px;
	right: 28px;
	bottom: auto;
	background-image: url('img/bt_ajuda2.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}


#bt_confirmar{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: auto;
	right: -100px;
	bottom: 28px;
	background-image: url('img/bt_confirma.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: right 1s ease-in-out;
	-webkit-transition: right 1s ease-in-out;
	z-index: 10;
	cursor: pointer;
}


#telaAjuda {
	background-image: url('img/telaAjuda.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 302.309px;
	top: -250px;
	width: 438.605px;
	height: 196.034px;
	transition: top 1s ease-in-out;
	-webkit-transition: top 1s ease-in-out;
	z-index: 8;
}

#fecharAjuda{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: 375px;
	z-index: 20;
	cursor: pointer;
}

#pratinha_ativo
{
	background-image: url('img/pratinha_ativo-sheet0.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 122px;
	/* bottom: 0px; */
	bottom:-300px;
	width: 816px;
	height: 239px;
	transition: bottom 1s ease-in-out;
	-webkit-transition: bottom 1s ease-in-out;
	z-index: 8;
}

#pratinha_next
{
	border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 65px;
    position: absolute;
    right: 0;
    width: 65px;
}

#pratinha_inativo
{
	background-image: url('img/pratinha_inativo-sheet0.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: -100px;
	bottom: 28px;
	width: 67px;
	height: 72px;
	transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	z-index: 8;
    cursor: pointer;
}

#download
{
	background-image: url('img/btn_download-01.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 25px;
	bottom: 100px;
	width: 63px;
	height: 63px;
	z-index: 8;
	cursor: pointer;
}

.Texto
{
	
	background-repeat: no-repeat;
    background-size: contain;
    height: 115px;
    left: 342px;
    position: absolute;
    transition: bottom 1s ease-in-out;
    width: 487px;
    z-index: 8;
}

.Texto_1
{
	background-image: url('img/texto_enunciado.png');
    /* bottom: 47px; */
    bottom: -347px;
}

.Texto_2
{
	background-image: url('img/texto_feedback.png');
	/* bottom: 40px; */
	bottom: -340px;
}