@font-face {
  font-family: 'Overlock-Regular';
  src: url('Overlock-Regular.eot?#iefix') format('embedded-opentype'),  url('Overlock-Regular.woff') format('woff'), url('Overlock-Regular.ttf')  format('truetype'), url('Overlock-Regular.svg#Overlock-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    overflow: hidden;
    box-sizing:border-box;
}
html
{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  overflow: hidden
}

html body{
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
	background-color: #F7F7F5;
	-moz-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
}

#container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    margin-top: 0;
    background-image: url('img/bg_cruzada.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}


#bt_Fs{	
	width: 61.668px;
	height: 61.666px;
	right: 117.668px;
	top: 28px;
	left: auto;
	bottom: auto;
	background-image: url('img/bt_aumentar2.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

#bt_ajuda{	
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: 28px;
	right: 28px;
	bottom: auto;
	background-image: url('img/bt_ajuda2.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

#bt_confirmar{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: auto;
	top: auto;
	right: -100px;
	bottom: 28px;
	background-image: url('img/bt_confirma.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: right 1s ease-in-out;
	-webkit-transition: right 1s ease-in-out;
	z-index: 10;
	cursor: pointer;
}

#telaAjuda {
	background-image: url('img/ajuda.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 302.309px;
	top: -250px;
	width: 438.605px;
	height: 196.034px;
	transition: top 1s ease-in-out;
	-webkit-transition: top 1s ease-in-out;
	z-index: 8;
}

#fecharAjuda{
	position: absolute;
	width: 61.668px;
	height: 61.666px;
	left: 375px;
	z-index: 20;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}


#pratinha_ativo
{
	background-image: url('img/pratinha_ativo.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
	/* bottom: 0px; */
	bottom:-300px;
	width: 816px;
	height: 239px;
	transition: bottom 1s ease-in-out;
	-webkit-transition: bottom 1s ease-in-out;
	z-index: 8;
}

#pratinha_next
{
	border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    height: 65px;
    position: absolute;
    right: 0;
    width: 65px;
}

#pratinha_inativo
{
	background-image: url('img/pratinha_inativo.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: -100px;
	bottom: 24px;
	width: 67px;
	height: 72px;
	transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	z-index: 8;
    cursor: pointer;
}

#Dica
{
	height:768px;
	width:1024px;
	position:absolute;
	left:-1024px;
	bottom:0;
	z-index:6;
	transition: left 2s ease-in-out;
	-webkit-transition: left 2s ease-in-out;
	background-image: url('img/dicas-01.png');
	pointer-events:none;
}

#Cruzadinha_back
{
	height:768px;
	width:1024px;
	position:absolute;
	left:1024px;
	bottom:0;
	z-index:6;
	transition: left 2s ease-in-out;
	-webkit-transition: left 2s ease-in-out;
	background-image: url('img/cruzadinha-01.png');
	/* pointer-events:none; */
}

.Texto
{
	position:absolute;
	bottom:-324px;
	left:0;
	height:768px;
	width: 1024px;
	transition: bottom 1s ease-in-out;
	-webkit-transition: bottom 1s ease-in-out;
	z-index: 9;
	pointer-events: none;
	opacity:0;
}

.containTextbox
{
	width:38px;
	height:36px;
	position:absolute;
	text-align: center;
}

input[type='text']
{
	width:100%;
	height:100%;
	background-color: transparent;
	border:none;
	text-align: center;
	font-family: 'Overlock-Regular';
	font-size: 26px !important;
	text-transform:uppercase
}

#Texto1
{
	background-image: url('img/txt_enunciado1.png');
	opacity:1;
}

#Texto2
{
	background-image: url('img/txt_enunciado2.png');
}

#Texto3
{
	background-image: url('img/txt_enunciado3.png');
}

#Texto4
{
	background-image: url('img/txt_enunciado4.png');
}

#Texto5
{
	background-image: url('img/txt_atividade1.png');
}

#Texto6
{
	background-image: url('img/txt_atividade2.png');
}

#Texto7
{
	background-image: url('img/txt_atividade3.png');
}

#Texto8
{
	background-image: url('img/txt_atividade4.png');
}

#Texto9
{
	background-image: url('img/txt_atividade5.png');
}

#Texto10
{
	background-image: url('img/txt_atividade6.png');
}

#Texto11
{
	background-image: url('img/txt_enunciado_cruzadinha.png');
}

#Texto12
{
	background-image: url('img/txt_enunciado_cruzadinha2-01.png');
}


#Texto13
{
	background-image: url('img/feedback_geral1.png');
}

#Texto14
{
	background-image: url('img/feedback_geral2.png');
}
