* {
    box-sizing:border-box;
}

html, body
{
	padding:0;
	margin:0;
	transform-origin:top left;
	overflow: hidden;
	background-color: white;
}

#container
{
	width:1024px;
	height:768px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
}

#CanvasDraw
{
	position: absolute;
	top:0;
	left:0;
}

